.box {
  padding: 0.65rem;
  border: 0.125rem solid var(--main-general-color-clear);
  display: flex;
  flex-direction: column;
  min-height: 0;
  position: relative;
}

.box h2 {
  position: absolute;
  top: 0;
  left: 1.6rem;
  transform: translateY(-50%);
  background-color: var(--main-background-color);
  padding: 0 0.6rem;
  z-index: 1;
}

@media (max-width: 900px) {
  .box {
    padding: 0.7rem;
  }
}