@import "./base.css";
@import "../fonts/fonts.css";
@import "./box.css";

:root {
  --main-background-color: #000000;
  --main-general-color-clear: #ffffff;
  --main-general-color-green: #00ff00;
}

html {
  font-family: "firaMono";
  color: var(--main-general-color-clear);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 0.95rem;
  line-height: 1.25rem;
}

.app {
  background-color: var(--main-background-color);
  height: 100dvh;
  padding: 0 0.65rem 0.65rem 0.65rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.app.green {
  color: var(--main-general-color-green);
}
.app.green button {
  color: var(--main-general-color-green);
}
.app.green button span {
  background-color: var(--main-general-color-green);
}
.app.green header {
  background-color: var(--main-general-color-green);
}

a:hover {
  text-decoration: underline;
}

.nav a:hover {
  text-decoration: none;
}

button {
  color: var(--main-general-color-clear);
  cursor: pointer;
}
button span {
  color: var(--main-background-color);
  background-color: var(--main-general-color-clear);
}

header {
  background-color: var(--main-general-color-clear);
  color: var(--main-background-color);
}

main {
  display: grid;
  margin-block: 0.65rem;
  min-height: 0;
  gap: 0.65rem;
}
